* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1 {
  text-align: center;
  margin-top: 1rem;
}
.calculator {
  background-color: darkslategrey;
  width: 400px;
  margin: auto;
  margin-top: 10vh;
  color: #fff;
  padding: 1rem;
  border-radius: 4px;
  font-size: larger;
  font-weight: 600;
}

.display {
  background-color: slategrey;
  margin-bottom: 1rem;
  padding: 1rem;
  
}

.result {
  display: none;
  margin-top: 0.5rem;
}

.row {
  background-color: red;
  display: flex;
}

button {
  flex: 1;
  padding: 1rem 0;
  font-weight: 700;
  font-size: large;
  color: #fff;
  background-color: slategrey;
  border: 2px solid darkslategrey;
}

button:hover{
  background-color: lightslategray;
  cursor: pointer;
}

button:active {
  background-color: grey;
}

.calculate {
  background-color: rgb(255, 150, 12);
}

.calculate:hover{
  background-color: rgb(255, 176, 72);
  cursor: pointer;
}

.calculate:active {
  background-color: rgb(181, 113, 25);
}